######################################################
#               For the D Language
#
######################################################
D/dmd_2.109.1-0_amd64.deb
D/hello_world.o
D/hello_world
D/functions.o
D/functions

######################################################
#               For the CPP Language
#
######################################################
CPP/hello_world
CPP/functions